In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from pandas.plotting import scatter_matrix

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('heart.csv')

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
import numpy as np

In [ ]:
df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [ ]:
df.isnull().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [ ]:
Y = df['DEATH_EVENT']


X = df.drop('DEATH_EVENT', axis=1)
from sklearn.preprocessing import scale
X = scale(X)

In [ ]:
Y

0      1
1      1
2      1
3      1
4      1
      ..
294    0
295    0
296    0
297    0
298    0
Name: DEATH_EVENT, Length: 299, dtype: int64

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size= 0.3, random_state=42)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
knn = KNeighborsClassifier(n_neighbors=7)

In [ ]:
knn.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=7)

In [ ]:
y_pred = knn.predict(x_test)

In [ ]:
from sklearn import metrics

In [ ]:
print(metrics.accuracy_score(y_test, y_pred))

0.6888888888888889

In [ ]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [ ]:
from sklearn.tree import DecisionTreeClassifier, plot_tree

tree_clf = DecisionTreeClassifier(criterion='gini')
tree_clf = tree_clf.fit(x_train, y_train)
print('The maximum depth of the tree is ', tree_clf.get_depth())

The maximum depth of the tree is  9

In [ ]:
y_pred = tree_clf.fit(x_train, y_train)

In [ ]:
accuracies = []
print('Depth', ' Train Accuracy', ' Test Accuracy', ' CV Accuracy')

for d in range(1,9):
    tree_clf = DecisionTreeClassifier(criterion='gini', max_depth = d)
    tree_clf = tree_clf.fit(x_train, y_train)
    
    train_accuracy = tree_clf.score(x_train, y_train)
    test_accuracy = tree_clf.score(x_test, y_test)
    
    cv_accuracy = np.mean(cross_val_score(tree_clf, x_train, y_train, cv=5))
    accuracies.append([d, train_accuracy, test_accuracy, cv_accuracy])
    
    print(' ', d, ' '*6, '%.4f' % train_accuracy, ' '*8, '%.4f'% test_accuracy, ' '*5, '%.4f'% cv_accuracy)

Depth  Train Accuracy  Test Accuracy  CV Accuracy
  1        0.8804          0.7667       0.8662
  2        0.8995          0.7444       0.8424
  3        0.9187          0.7222       0.8470
  4        0.9474          0.6889       0.8232
  5        0.9665          0.6889       0.7994
  6        0.9761          0.6444       0.7991
  7        0.9952          0.6667       0.7995
  8        0.9952          0.6778       0.7991

In [ ]:


from sklearn.ensemble import RandomForestClassifier
accuracies = []
print('Depth', ' Train Accuracy', ' Test Accuracy', ' CV Accuracy')

for d in range(1,8):
    rf_clf = RandomForestClassifier(n_estimators=100, max_depth=d, criterion='gini', random_state=42)
    rf_clf = rf_clf.fit(x_train, y_train)
    
    train_accuracy = rf_clf.score(x_train, y_train)
    test_accuracy = rf_clf.score(x_test, y_test)
    cv_accuracy = np.mean(cross_val_score(rf_clf, x_train, y_train, cv=5))
    accuracies.append([d, train_accuracy, test_accuracy, cv_accuracy])
    
    print(' ', d, ' '*6, '%.4f' % train_accuracy, ' '*8, '%.4f'% test_accuracy, ' '*5, '%.4f'% cv_accuracy )

Depth  Train Accuracy  Test Accuracy  CV Accuracy
  1        0.7560          0.6111       0.7512
  2        0.8565          0.7444       0.8230
  3        0.9187          0.7556       0.8616
  4        0.9522          0.7667       0.8663
  5        0.9665          0.7778       0.8568
  6        0.9761          0.7889       0.8663
  7        0.9904          0.7556       0.8711

**SVM**

In [ ]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf', random_state = 0)
classifier.fit(x_train, y_train)

SVC(random_state=0)

In [ ]:
y_pred = classifier.predict(x_test)

In [ ]:
print(metrics.accuracy_score(y_test, y_pred))

0.7666666666666667

In [ ]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(x_train, y_train)

GaussianNB()

In [ ]:
y_pred = nb.predict(x_test)

In [ ]:
print(metrics.accuracy_score(y_test, y_pred))

0.7111111111111111